* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", cursive;
}

/*** Top Nav ***/

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 52px;
  border-bottom: 1px solid black;
}

.top-nav__search {
  display: flex;
  align-items: center;
}

.top-nav__search--input {
  border: none;
  background: none;
  padding: 10px;
}

.top-nav__actions {
  display: flex;
  align-items: center;
}

.top-nav__cart {
  margin-right: 20px;
  padding: 5px;
}

/** Main Nav **/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 80px;
}

.nav__menu {
  display: flex;
  list-style: none;
}

.nav__link {
  margin-left: 30px;
}

.nav__link--active {
  font-weight: bold;
}

/** Hero **/

.hero {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 5px;
  height: 60vh;
  background-color: #ebeef1;
  font-size: 20px;
}

.hero__content {
  width: 50%;
  line-height: 40px;
  margin-top: 3%;
  padding: 50px;
}

.hero__content button {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #00aeef;
  border: none;
  margin-top: 3%;
}

.hero__content--head {
  font-weight: 900;
  font-size: 72px;
  margin-bottom: 10px;
  line-height: 1.4;
  color: #293542;
}

.hero__content--body {
  font-weight: 400;
  color: #293542;
  line-height: 1.6;
}

.hero__image {
  height: 100%;
  width: 50%;
}

.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/*****************************8* Mobile first ************************************************/


/**************************************** topnav ***************************************/
.top-nav{
  display: none;
}

/********************************************* nav ************************************/
.nav{
  display: none;
}


/************************************************ Hero****************************** */
.hero{
  display: none;
}


/*************************** New IN ***********************************************/
.product-list{
  width: 100%;
  text-align: center;
}
.product-list__heading{
  text-align: center;
  width: 100%;
}

.products{
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 10%;
  margin-top: 30px;
}

.products img{
  width: 100%;
}

.product-list__button{
  background-color: #00aeef;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
}

/* .products__title{
  text-align: center;
} */

/************************* Collection ******************************************/
.product-collection{
  margin-top: 40px;
  text-align: center;
}


/*********************featured products *****************************88*/
.featured{
  text-align: center;
  width: 100%;
  margin-top: 40px;
}
.featured__products{
  display: grid;
  grid-template-columns: 40% 40%;
  column-gap: 10%;
  margin-top: 40px;
  
}
.featured__products img{
  width: 100%;
}
.featured-button{
  background-color: #00aeef;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-top: 30px;
}


/*********************** stay connected ********************************8*/
.stay_connected{
  margin-top: 70px;
  background-color: #f5f8fa;
  text-align: center;
  padding: 20px;
  
}
.stay-connected__heading{
  margin-top: 10px;
}
.stay-connected__message{
  margin-top: 10px;
}
.stay-connected__input-field{
  margin-top: 10px;
}
.stay-connected__input-field input{
  border: none;
  height: 40px;
  padding: 5px;
}
.stay-connected__input-field button{
  background-color: #00aeef;
  border: none;
  color: white;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

/************************  Footer********************************/
footer{
  margin-top: 30px;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
}

footer li{
  list-style: none;
  padding: 5px;
}

.footer__content-icons{
  display: flex;
}


/***************************** media query for desktop view **********************/
@media (min-width: 768px){
  /* New IN */
  .products{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5%;
    margin-top: 30px;
  }

  /* PRODUCT COLLECTION */
  .collection{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    /* column-gap: 10%; */
    margin-top: 40px;
    text-align: center;
  }

  /* FEATURED PRODUCTS */
  .featured__products{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 5%;
    margin-top: 40px;
    
  }

  /* FOOTER */

  .footer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    margin-top: 40px;
  }
  
}